<section class="hero is-small is-primary">
    <div class="hero-body">
        <div class="logoContainer">
            <img class="logo" src="../images/logo.png" alt="">
        </div>
        <div>
        <p class="title">
            Code Start
        </p>
        <p class="subtitle">
            Erfahrungen die jeder kennt ...
        </p>
        </div>
    </div>
</section>
<nav class="navbar navbar-divider">
    <div class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item" href="home.html"></div>
            <div class="navbar-item" href="home.html"></div>
            <div class="navbar-item" href="home.html"></div>
            <div class="navbar-item" href="home.html"></div>
            <div class="navbar-item" href="home.html"></div>
            <a class="navbar-item" href="home.html">Home</a>

            {%if admin%}
            <a class="navbar-item" id="MitgliederVerwaltenButton">Mitglieder verwalten</a>
            <a class="navbar-item" id="neuerPostButton">neuer Post</a>
            {% endif %}

        </div>
        <div class="navbar-end">
            <button class="navbar-item button" hx-post="http://localhost:8080/logout"
                    nunjucks-template="logout-triggered"
                    hx-target="#logout" id="logout">Logout
            </button>
            <div class="navbar-item" href="home.html"></div>
            <div class="navbar-item" href="home.html"></div>
            <div class="navbar-item" href="home.html"></div>
            <div class="navbar-item" href="home.html"></div>
            <div class="navbar-item" href="home.html"></div>
        </div>
    </div>
</nav>
<br>
<template id="logout-triggered">
    <span>Auf Wiedersehen, {{username}}</span>
    {{redirect("index.html",1000)}}
</template>
