<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="bulma.css">
    <link rel="stylesheet" href="home.css">
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/nunjucks@latest"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <script src="templates/javascript-helpers.js"></script>

</head>

<body hx-ext="client-side-templates,response-targets,json-enc">
<div hx-trigger="load"
     hx-get="http://localhost:8080/user"
     nunjucks-template="main-template"
     hx-target-4*="#main"
     hx-target="#main"
     id="main">
</div>

<template id="main-template">

    {% include "templates/check-session-invalid.html" %}
    {% include "templates/navbar.html" %}

    {% if admin %}
    <div hx-get="http://localhost:8080/posts"
         hx-target="#adminOutput"
         nunjucks-template="templateAdmin"
         hx-trigger="load">
    </div>
    <section id="adminOutput"></section>

    {% else %}
    <div hx-get="http://localhost:8080/posts"
         hx-target="#userOutput"
         nunjucks-template="templateUser"
         hx-trigger="load">
    </div>
    <section id="userOutput"></section>

    {% endif %}

</template>

<template id="templateAdmin">

    <div hx-get="http://localhost:8080/users"
         hx-target="#output2"
         nunjucks-template="template2"
         hx-trigger="load"
    ></div>

    {% for blogPost in blogPostList %}

    <div id="blogPostContainer{{blogPost.id}}" class="container">
        <div class="card">
            <div class="card-content">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img class="is-rounded" src="{{blogPost.user.profilPicture}}">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{blogPost.user.username}}</strong> <small>{{blogPost.blogPostTime}}</small>
                                {% if user.admin %} <small>(Admin)</small> {% endif %}
                                <br>
                                {{blogPost.content}}
                                <br>
                                <small><a hx-delete="http://localhost:8080/post/{{blogPost.id}}"
                                          hx-target="#blogPostContainer{{blogPost.id}}"
                                          hx-swap="delete">Post löschen</a> </small>

                                {% if blogPost.image != "" %}
                            <div class="bildImPost1">
                                <img width="640" height="360" src="{{blogPost.image}}" alt="Blog Post Image">
                            </div>
                            <br>
                            {% endif %}
                            </p>
                        </div>

                        <!----------Hier beginnen die Kommentare!!!!--->

                        {% for comment in blogPost.comments %}
                        <article id="comment{{comment.id}}" class="media">
                            <figure class="media-left">
                                <p class="image is-48x48">
                                    <img class="is-rounded" src="{{comment.user.profilPicture}}">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>{{comment.user.username}}</strong>
                                        {% if comment.user.admin %} <small>(Admin)</small> {% endif %}
                                        <small>{{comment.commentTime}}</small>
                                        <br>
                                        {{comment.comment}}
                                        <br>

                                        {% if comment.image | length %}
                                        <div class="bildImComment1">
                                            <img width="640" height="360" src="{{comment.image}}" alt="Comment Image1">
                                        </div>
                                        <br>
                                        {% endif %}

                                        <small><a hx-delete="http://localhost:8080/posts/comment/{{comment.id}}"
                                                  hx-target="#comment{{comment.id}}"
                                                  hx-swap="delete">Kommentar löschen</a> </small>
                                    </p>
                                </div>
                            </div>
                        </article>
                        {% endfor %}
                        <section class="commentsAdmin"></section>
                    </div>
                </article>


                <!----------Hier beginnt das Kommentarfeld!!!!-->
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-48x48">
                            <img src="">
                        </p>
                    </figure>
                    <div class="media-content">

                        <form action="" hx-post="http://localhost:8080/posts/{{blogPost.id}}/comments"
                              nunjucks-template="templateComment"
                              hx-target="previous .commentsAdmin"
                              hx-swap="beforeend">

                            <div class="field">
                                <p class="control">
                                    <textarea class="textarea is-small" name="comment"
                                              placeholder="Füge hier deinen Kommentar und/oder ein unverschlüsseltes Bild hinzu..."></textarea>
                                </p>
                            </div>

                            <nav class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <button type="submit" class="commentSubmitButton button is-info">Comment
                                        </button>
                                    </div>
                                </div>
                            </nav>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <br>
    </div>
    {% endfor %}
</template>
<!-------------------------UserTemplate-------------------------------------------------------->
<template id="templateUser">
    {% for blogPost in blogPostList %}

    <div class="container">
        <div class="card">
            <div class="card-content">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img class="is-rounded" src="{{blogPost.user.profilPicture}}">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{blogPost.user.username}}</strong>
                                {% if blogPost.user.admin %} <small>(Admin)</small>{% endif %}
                                <small>{{blogPost.blogPostTime}}</small>
                                <br>
                                {{blogPost.content}}
                                <br>
                                {% if blogPost.image != "" %}
                                <div class="bildImPost1">
                                    <img width="640" height="360" src="{{blogPost.image}}" alt="Blog Post Image">
                                </div>
                                <br>
                                {% endif %}
                            </p>
                        </div>

                        <!----------Hier beginnen die Kommentare!!!!--->

                        {% for comment in blogPost.comments %}
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-48x48">
                                    <img class="is-rounded" src="{{comment.user.profilPicture}}">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>{{comment.user.username}}</strong>
                                        {% if comment.user.admin %} <small>(Admin)</small> {% endif %}
                                        <small>{{comment.commentTime}}</small>
                                        <br>
                                        {{comment.comment}}
                                        <br>
                                        {% if comment.image | length %}
                                        <div class="bildImComment1">
                                            <img width="640" height="360" src="{{comment.image}}" alt="Comment Image2">
                                        </div>
                                        <br>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </article>
                        {% endfor %}
                        <section class="commentsAdmin"></section>
                    </div>
                </article>


                <!----------Hier beginnt das Kommentarfeld!!!!-->
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-48x48">
                            <img src="">
                        </p>
                    </figure>
                    <div class="media-content">

                        <form action="" hx-post="http://localhost:8080/posts/{{blogPost.id}}/comments"
                              nunjucks-template="templateComment"
                              hx-target="previous .commentsAdmin"
                              hx-swap="beforeend">

                            <div class="field">
                                <p class="control">
                                    <textarea class="textarea is-small" name="comment"
                                              placeholder="Füge hier deinen Kommentar und/oder ein unverschlüsseltes Bild hinzu..."></textarea>
                                </p>
                            </div>

                            <nav class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <button type="submit" class="commentSubmitButton button is-info">Comment
                                        </button>
                                    </div>
                                </div>
                            </nav>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}
</template>

<template id="templateComment">
    <article id="comment{{id}}" class="media">
        <figure class="media-left">
            <p class="image is-48x48">
                <img class="is-rounded" src="{{user.profilPicture}}">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{user.username}}</strong> {% if user.admin %} <small>(Admin)</small> {% endif %}<small>{{commentTime}}</small>
                    <br>
                    {{comment}}
                    <br>
                    {% if image | length %}
                    <div class="bildImComment1">
                        <img width="640" height="360" src="{{image}}" alt="Comment Image3">
                    </div>
                    <br>
                    {% endif %}
                    <small>
                        {% if user.admin %}
                        <small>
                            <a hx-delete="http://localhost:8080/posts/comment/{{id}}"
                               hx-target="#comment{{id}}"
                               hx-swap="delete">
                                Rückgängig</a>
                        </small>
                        {% endif %}
                    </small>
                </p>
            </div>
        </div>
    </article>
</template>


<template id="template2">
    {% for user in userList %}
    <tr id="user-{{user.id}}">
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{ "Admin" if (user.admin) else "Nutzer" }}</td>
        <td>
            <button class="button"
                    hx-post="http://localhost:8080/users/toggleadmin/{{user.id}}"
                    nunjucks-template="single-user"
                    hx-swap="outerHTML"
                    hx-target="#user-{{user.id}}"
            >ändern
            </button>
        </td>
    </tr>
    {% endfor %}
</template>

<template id="single-user">
    <tr id="user-{{id}}">
        <td>{{id}}</td>
        <td>{{username}}</td>
        <td>
            {{ "Admin" if (admin) else "Nutzer" }}
        </td>
        <td>
            <button class="button"
                    hx-post="http://localhost:8080/users/toggleadmin/{{id}}"
                    nunjucks-template="single-user"
                    hx-swap="outerHTML"
                    hx-target="#user-{{id}}">ändern
            </button>
        </td>
    </tr>
</template>
<!----------------------------------PopUp for NewPost----------------------------------------------------->


<div class="modal" id="modalNewPost">
    <div class="modal-background" id="modal-backgroundNewPost"></div>
    <div class="modal-card">
        <form class="postCreationForm"
              hx-post="http://localhost:8080/post">
            <header class="modal-card-head">
                <p class="modal-card-title">Neuer Post</p>
            </header>
            <section class="modal-card-body">
                <textarea class="textarea" id="postTextarea" name="blogContentText"
                          placeholder="Schreibe einen neuen Post und füge die URL deines unverschlüsselten Bildes hier ein"></textarea>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" id="submitPostButton" type="submit">Bestätigen</button>
            </footer>
        </form>
    </div>
</div>
<!----------------------------------PopUp for UserMenu----------------------------------------------------->
<div class="modal" id="modalWindowMember">
    <div class="modal-background" id="modal-backgroundMember"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Mitglieder verwalten</p>
        </header>
        <section class="modal-card-body">

            <!--------------------------UserList----------------------------------->
            <table class="table is-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Benutzername</th>
                    <th>Status</th>
                    <th>Status ändern</th>
                </tr>
                </thead>
                <tbody id="output2">

                </tbody>
            </table>
            <!----------------------------------------------------------------------->


        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" id="cancelUserMenu">Bestätigen</button>
        </footer>
    </div>
</div>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
    </div>
</footer>
</body>
<script>
    document.addEventListener("DOMContentLoaded", () => {

        setTimeout(function () {
            let modalWindowMember = document.getElementById("modalWindowMember")
            let modalBackgroundMember = document.getElementById("modal-backgroundMember")
            let MitgliederVerwaltenButton = document.getElementById("MitgliederVerwaltenButton")
            let cancelUserMenu = document.getElementById("cancelUserMenu")

            MitgliederVerwaltenButton.addEventListener("click", () => {
                modalWindowMember.classList.add("is-active")
            })
            modalBackgroundMember.addEventListener("click", () => {
                modalWindowMember.classList.remove("is-active")
            })
            cancelUserMenu.addEventListener("click", () => {
                modalWindowMember.classList.remove("is-active")
            })
        }, 20);

        setTimeout(function () {
            let modalWindowNewPost = document.getElementById("modalNewPost")
            let modalBackgroundNewPost = document.getElementById("modal-backgroundNewPost")
            let newPostButton = document.getElementById("neuerPostButton")
            let submitPostButton = document.getElementById("submitPostButton")
            let postTextarea = document.getElementById("postTextarea")

            newPostButton.addEventListener("click", () => {
                modalWindowNewPost.classList.add("is-active")
            })
            modalBackgroundNewPost.addEventListener("click", () => {
                modalWindowNewPost.classList.remove("is-active")
            })
            submitPostButton.addEventListener("click", () => {

                if (postTextarea.value !== "") {
                    modalWindowNewPost.classList.remove("is-active")
                    location.reload()
                }
            })

        }, 20);

        setTimeout(function () {
            let commentSubmitButtons = document.getElementsByClassName("commentSubmitButton")
            for (let commentSubmitButton of commentSubmitButtons) {
                commentSubmitButton.addEventListener("click", () => {
                    setTimeout(function () {
                        let commentTextareas = document.getElementsByTagName("textarea")
                        for (textarea of commentTextareas) {
                            textarea.value = ""
                        }
                    }, 10);
                })
            }
        }, 300);
    })
</script>
</html>