<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>

  <script src="https://unpkg.com/htmx.org@1.9.3"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
  <script src="https://unpkg.com/nunjucks@latest"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
  <script src="templates/javascript-helpers.js"></script>
  <link rel="stylesheet" href="bulma.css">
</head>

<body hx-ext="client-side-templates,response-targets,json-enc">
<div hx-trigger="load"
     hx-get="http://localhost:8080/user"
     nunjucks-template="main-template"
     hx-target-4*="#main"
     hx-target="#main"
     id="main">
</div>

<template id="main-template">
  {% include "templates/check-session-invalid.html" %}
  {% include "templates/navbar.html" %}
</template>


<div hx-get="http://localhost:8080/users"
     hx-target="#output2"
     nunjucks-template="template2"
     hx-trigger="load"
></div>

<template id="template2">
  {% for user in userList %}
  <tr id="user-{{user.id}}">
    <td>{{user.id}}</td>
    <td>{{user.username}}</td>
    <td>{{ "Admin" if (user.admin) else "Nutzer" }}</td>
    <td>
      <button class="button"
              hx-post="http://localhost:8080/users/toggleadmin/{{user.id}}"
              nunjucks-template="single-user"
              hx-swap="outerHTML"
              hx-target="#user-{{user.id}}"
      >ändern</button>
    </td>
  </tr>
  {% endfor %}
</template>

<table class="table is-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Benutzername</th>
    <th>Status</th>
    <th>Status ändern</th>
  </tr>
  </thead>
  <tbody id="output2">

  </tbody>
</table>

<template id="single-user">
  <tr id="user-{{id}}">
    <td>{{id}}</td>
    <td>{{username}}</td>
    <td>
      {{ "Admin" if (admin) else "Nutzer" }}
    </td>
    <td>
      <button class="button"
              hx-post="http://localhost:8080/users/toggleadmin/{{id}}"
              nunjucks-template="single-user"
              hx-swap="outerHTML"
              hx-target="#user-{{id}}">ändern</button>
    </td>
  </tr>
</template>

</body>
</html>